@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Rounded medium";
  src: url("../../fonts/RoundedMplus1c-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rounded regular";
  src: url("../../fonts/RoundedMplus1c-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Rounded regular";
  font-size: 16px;
  color: #1e1e1e;
}

body {
  background-color: #f1f0f0;
}

:focus-visible {
  outline: 2px solid #000000 !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}
.header__logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__title {
  font-family: "Rounded medium";
  font-size: 25px;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__button {
  padding: 5px 10px;
  color: #fff;
  border-radius: 8px;
  transition-property: box-shadow, transform;
  transition-duration: 0.2s;
}
@media (hover: hover) {
  .header__button:hover {
    box-shadow: 0 5px 1px #525252;
    transform: translateY(-5px);
  }
}
@media (hover: none) {
  .header__button:active {
    box-shadow: 0 5px 1px #525252;
    transform: translateY(-5px);
  }
}
.header__add-task {
  background-color: #6dafff;
}
.header__task-story {
  background-color: #ffd16f;
}
.header__delete-task {
  background-color: #ff7878;
}
.header__complete-task {
  background-color: #78ff7a;
}

.task {
  margin-top: 80px;
  width: 900px;
  margin-inline: auto;
}
.task__title {
  font-family: "Rounded medium";
  font-size: 22px;
  margin-bottom: 10px;
}
.task__wrapper {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}
.task__cart {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding-block: 10px;
}
.task__cart:last-child {
  border-bottom: none;
}
.task__name {
  cursor: pointer;
}
.task__buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}
.task__button {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  width: 30px;
}
.task__empty {
  text-align: center;
  font-size: 30px;
}
.task__load {
  position: relative;
  margin-inline: auto;
  aspect-ratio: 1/1;
  width: 80px;
}
@keyframes test {
  from {
    width: 10%;
  }
  to {
    width: 100%;
  }
}
.task__load-elem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0.337254902);
  border-radius: 50%;
}
.task__load-elem:first-child {
  animation: test 0.9s infinite alternate cubic-bezier(0.25, 0.1, 0.25, 1);
}
.task__load-elem:last-child {
  animation: test 0.9s infinite alternate-reverse cubic-bezier(0.25, 0.1, 0.25, 1);
}

.modal {
  position: relative;
  margin-block: 5%;
  margin-inline: auto;
  padding: 60px 40px;
  background-color: #f1f0f0;
  border-radius: 8px;
  width: 50%;
  cursor: auto;
  transition-property: opacity, transform;
  transition-duration: 0.2s;
  opacity: 0;
  transform: translateY(30px);
}
.modal__wrapper {
  position: fixed;
  inset: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s;
  pointer-events: none;
  overflow: hidden;
}
.modal__wrapper--active {
  background-color: rgba(0, 0, 0, 0.4078431373);
  pointer-events: all;
  overflow: auto;
}
.modal__wrapper--active .modal {
  opacity: 1;
  transform: translateY(0);
}
.modal__task > * {
  display: block;
}
.modal__task-label {
  width: max-content;
  margin-inline: auto;
  font-family: "Rounded medium";
  font-size: 25px;
  margin-bottom: 20px;
}
.modal__task-textarea {
  aspect-ratio: 3/1;
  width: 100%;
  resize: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.modal__task-button {
  background-color: #6dafff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: "Rounded medium";
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.modal__message-text {
  font-family: "Rounded medium";
  font-size: 28px;
  text-align: center;
}

.story__wrapper-tasks {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
}
.story__wrapper-tasks:first-child {
  margin-block: 30px;
}
.story__wrapper-tasks:first-child .story__list-item::after {
  background-color: #50ff29;
}
.story__wrapper-tasks:last-child .story__list-item::after {
  background-color: #ff2929;
}
.story__title {
  text-align: center;
  font-family: Rounded medium;
  font-size: 23px;
  margin-bottom: 15px;
}
.story__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.story__list-item::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */